---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Decouvrir from '../components/Decouvrir.astro';
import Conseil from '../components/Conseil.astro';
import ViePratique from '../components/ViePratique.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <BentoGrid />
    <Decouvrir />
    <Conseil />
    <ViePratique />
  </main>
  <Footer />
</Layout>
